@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Heebo:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --heb-title-font: "Frank Ruhl Libre", serif;
  --heb-text-font: "Heebo", sans-serif;
  --eng-title-font: "Merriweather", serif;
  --eng-text-font: "Open Sans", sans-serif;
  --bg: #f5f5f5;
  --second-bg: #fffff0;
  --header: #f2e9e4;
  --text: #3d405b;
  --text-highlight: #658585;
  --btn: #e07a5f;
  --highlight: #dbdbdb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
}

body {
  margin: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heb-title {
  font-family: var(--heb-title-font);
}
.heb-text {
  font-family: var(--heb-text-font);
}

.eng-title {
  font-family: var(--eng-title-font);
}
.eng-text {
  font-family: var(--eng-text-font);
}

/* Navbar: */
@media only screen and (max-width: 1200px) {
  body {
    min-width: 350px;
  }

  .navbar {
    background-color: var(--header);
    padding: 0 16px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

  .navbar-left {
    font-size: 42px;
    font-weight: 600;
    min-width: 260px;
  }

  .navbar-right {
    position: relative;
    display: flex;
  }

  .hamburger-btn-container {
    position: relative;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
  }

  .hamburger-btn::before,
  .hamburger-btn::after {
    content: "";
    position: absolute;
    right: 0;
    height: 4px;
    width: 100%;
    background-color: var(--text);
    transition: 0.2s ease-in-out;
  }

  .hamburger-btn::before {
    top: 0;
  }

  .hamburger-btn::after {
    bottom: 0;
  }

  .hamburger-middle-line {
    position: absolute;
    width: 30px;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--text);
    transition: 0.2s ease-in-out;
  }

  .hamburger-btn.active::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .hamburger-btn.active::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  .hamburger-middle-line.active {
    opacity: 0;
    transform: translateX(-80%);
  }

  .navbar-links-container {
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header);
    gap: 20px;
    transition: 0.2s ease-in-out;
    opacity: 0;
  }

  .navbar-links-container.active {
    visibility: visible;
    opacity: 1;
    padding-top: 110px;
    height: 300px;
  }

  .navbar-link {
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
  }

  .navbar-link.active {
    border-bottom: 2px solid var(--text);
  }

  main {
    background-color: var(--bg);
  }

  img {
    width: 10px;
    height: 10px;
  }

  .home-section-top,
  .home-section-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home .top-container {
    direction: rtl;
    padding: 40px 20px;
    text-align: center;
  }

  .home .top-container .title {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 30px;
    display: inline;
    background-color: var(--header);
    line-height: 1.5;
  }

  .home-section-bottom .top-container .title {
    font-size: 38px;
  }

  .home .text-container {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .home-section-bottom .text-container {
    font-size: 20px;
  }

  .home .bottom-container img {
    height: 100%;
    width: 100%;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .gallery .picture-container {
    height: auto;
    max-width: 100%;
  }

  .gallery .picture-container img {
    height: 100%;
    width: 100%;
  }

  footer {
    background-color: var(--header);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-line {
    width: 240px;
    border-bottom: 2px dashed var(--text);
  }

  .footer-name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .footer-phone,
  .footer-email {
    font-size: 20px;
  }

  .footer .title {
    font-weight: 500;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    background-color: var(--header);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .navbar-left {
    font-size: 48px;
    font-weight: 500;
  }

  .navbar-links-container {
    position: absolute;
    right: 20px;
    top: 40px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    font-size: 30px;
    font-weight: 400;
  }

  .navbar-links-container .navbar-link {
    text-decoration: none;
  }

  .navbar-links-container .navbar-link:hover {
    filter: brightness(1.5);
  }

  .navbar-links-container .navbar-link.active {
    border-bottom: 2px solid var(--text);
  }

  main {
    background-color: var(--bg);
    min-height: calc(100vh - 80px - 200px);
  }

  .home {
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-section-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    height: 400px;
    width: 1100px;
    padding: 0 50px;
  }

  .home-section-top .top-container {
    direction: rtl;
  }

  .home-section-top .top-container .title {
    display: inline;
    background-color: var(--header);
    line-height: 1.5;
    font-size: 60px;
    font-weight: 900;
  }

  .home-section-top .top-container .text-container {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
  }

  .home-section-top .bottom-container img {
    width: 100%;
  }

  .home-section-bottom {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 400px;
    width: 1100px;
    padding: 0 50px;
  }

  .home-section-bottom .top-container {
    direction: rtl;
  }

  .home-section-bottom .title {
    display: inline;
    background-color: var(--header);
    line-height: 1.5;
    font-size: 36px;
    font-weight: 900;
  }

  .home-section-bottom .text-container {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
  }

  .home-section-bottom .bottom-container img {
    width: 100%;
  }

  footer {
    background-color: var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 200px;
  }

  .footer-line {
    height: 100px;
    border-right: 2px dashed var(--text);
  }

  .footer-name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .footer-phone,
  .footer-email {
    font-size: 20px;
  }

  .footer .title {
    font-weight: 500;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .gallery .picture-container {
    height: auto;
    max-width: 1000px;
  }

  .gallery .picture-container img {
    height: 100%;
    width: 100%;
  }
}
